127.0.0.1    localhost localhost.localdomain localhost4 localhost4.localdomain4
::1          localhost localhost.localdomain localhost6 localhost6.localdomain6
# HEAD NODES
10.1.0.10   admin admin.hpc.customerdomain xcat xcat.hpc.customerdomain
10.1.0.1    admin01 admin01.hpc.customerdomain
10.1.0.2    admin02 admin02.hpc.customerdomain
10.2.0.10   admin-2bmc admin-2bmc.hpc.customerdomain xcatgoconserver
10.2.0.1    admin01-2bmc admin01-2bmc.hpc.customerdomain
10.2.0.2    admin02-2bmc admin02-2bmc.hpc.customerdomain
# STORAGE NODES
10.1.10.1    beegfs01 beegfs01.hpc.customerdomain
10.1.10.2    beegfs02 beegfs02.hpc.customerdomain
10.2.10.1    beegfs01-bmc beegfs01-bmc.hpc.customerdomain
10.2.10.2    beegfs02-bmc beegfs02-bmc.hpc.customerdomain