127.0.0.1    localhost localhost.localdomain localhost4 localhost4.localdomain4
::1          localhost localhost.localdomain localhost6 localhost6.localdomain6
# HEAD NODES
172.16.1.1  admin admin.hpc.customerdomain xcat xcat.hpc.customerdomain
172.16.1.10   admin01 admin01.hpc.customerdomain
# STORAGE NODES