# HEAD NODES
head: head[01-02]
head: 192.168.1.1,192.168.1.2

# STORAGE NODES
storage: 192.168.1.100
# OTHER NODES
login: @warewulf-profile:login
compute @warewulf-profile:compute
# Add other nodes here as needed