# HEAD NODES
head: head[01-02]
head: {{ hnodeIP }} {{ hnodeName }} {{ hnodeNameFQDN }}
# STORAGE NODES
# OTHER NODES
login: @warewulf-profile:login
compute @warewulf-profile:compute
# Add other nodes here as needed