# HEAD NODES
head: head[01-02]
head: 172.16.1.1,172.16.1.10
compute: 172.16.1.100
# STORAGE NODES
# OTHER NODES
login: @warewulf-profile:login
compute @warewulf-profile:compute
# Add other nodes here as needed